{% extends 'base.html'%}

{% block title %}
Страница о нас

{% endblock %}


{% block body%}
<h5>О нас</h5>
<p>Жизнь современного человека невозможно представить без холодильника.<br>
    Этот важный бытовой прибор обеспечивает сохранность продуктов питания в течение долгого времени,<br>
    и в случае его поломки необходим срочный ремонт. Чем более оперативно он будет сделан, тем лучше!<br>

Мы диагностируем и осуществляем ремонт холодильников в г. Воронеж, предоставляя долгосрочную гарантию<br>
    на свои профессиональные услуги, доступные цены, а также низкую стоимость запчастей. Обратившись в<br>
    нашу мастерскую, вы можете рассчитывать на максимальную оперативность<br>
    ремонтных работ и низкую стоимость работ. В большинстве случаев наш специалист сразу производит ремонт<br>
    холодильников на месте за 1 визит. Вызов мастера в день обращения — выполняется осмотр поломки,<br>
    диагностика (включена в стоимость) и непосредственно ремонтные действия. Иногда может потребоваться<br>
    доставка холодильника в нашу мастерскую, так как его ремонт на дому невозможен. Но такие ситуации<br>
    встречаются редко, и мы в любом случае даем гарантию, что восстановим работоспособность бытового<br>
    прибора, если есть такая возможность.

Среди наиболее распространенных неисправностей холодильника в Воронеже, при которых к нам обращались<br>
    за помощью, можно отметить:

прибор не включался или наоборот его двигатель-компрессор работал без перерывов;<br>
слишком шумная работа холодильника;<br>
компрессор работал с низкой хладопроизводительностью;<br.
внутри камер скапливалась влага и так далее.
Если у вашего холодильника неисправность, обращайтесь . Опытный мастер  окажет
    помощь и предоставит долгосрочную гарантию на все услуги и на результат работы. Вы можете вызвать
    мастера с помощью специальной формы на нашем сайте или заказав обратный звонок. Он перезвонит в короткие сроки,
    назовет цены и согласует с вами время прихода на дом.</p>


{% endblock%}