{% extends 'base.html'%}

{% block body%}
<p>Чаще всего с этим сталкиваются владельцы техники «Стинол», «Атлант» и «Индезит».<br>
    Холодильник работает, но не морозит из-за того, что масло в компрессоре приходит в парафинообразное состояние.<br>
    Сгустки циркулируют по всей системе и постепенно накапливаются на стенках трубок.<br>
    А поскольку самая тонкая — капиллярная, то она забивается в первую очередь.<br>

Чтобы устранить неисправность и справиться с причиной, из-за которой холодильник работает,<br>
    но не морозит, нужно прочистить трубку специальным гидравлическим инструментом.<br>
    С его помощью капиллярный трубопровод продавливается и восстанавливает свою работоспособность.<br>
    При необходимости возможна замена на новый элемент с последующим вакуумированием системы и заправкой фреоном.<br>
    И это тоже работа для мастера.</p>


{% endblock%}