{% extends 'base.html'%}

{% block title %}
{% endblock %}

{% block body%}
<p>Пожалуй, самая распространённая ситуация, почему холодильник работает,<br>
    но не морозит. Признак: температура в камерах повышается, включается лампочка <br>
    Alarm или срабатывает звуковой сигнал, техника начинает функционировать без отключения.
    Иногда повредить испаритель может и сам владелец. Такое случается, если во время разморозки<br>
    пользоваться острыми предметами, чтобы побыстрее отколоть лёд. Поэтому не рекомендуем прибегать<br>
    к данной мере, чтобы потом не столкнуться с ситуацией, когда холодильник работает,<br>
    но вдруг перестаёт морозить.</p>
{% endblock%}