{% extends 'base.html'%}

{% block title %}
Ремонт холодильников на дому. Частный мастер!


{% endblock %}



{% block body%}

<h1 class="text-center"> Ремонт холодильников на дому</h1>
<h1 class="text-center"> тел: 8(930) 407-70-13</h1>
<h1 class="text-center"> тел: 8(900) 304-77-62 </h1>
<h1 class="text-center">Ворорнеж</h1>
<h2 class="text-center">Семилуки<br></h2>
<h2 class="text-center">Рамонь<br></h2>
<h2 class="text-center"> Хохол<br></h2>
<h2 class="text-center"> Новая усмань</h2>
{% endblock%}